!!! 5

%html{ itemscope: true, itemtype: "http://schema.org/BlogPosting", lang: 'en' }
  %head
    %title= "Roman Rott's blog - #{category} category on the blog"
    = partial 'partials/meta'
    %meta{ name: 'keywords',      content: "#{category}, #{data.site.blog.keywords}" }
    %meta{ name: 'description',   content: "#{category} category on the blog" }
    %meta{ name: "robots",        content: "noindex, follow" }
    %meta{ name: 'twitter:image', content: data.site.blog.preview }
    %link{ href: "https://rrott.com/blog/", rel: "canonical" }

  %body
    = yield

    = stylesheet_link_tag 'application', property: 'stylesheet', defer: true, async: true
    = stylesheet_link_tag 'portfolio', property: 'stylesheet', defer: true, async: true
    = javascript_include_tag 'lunar-search'
    = partial 'partials/production_code'
