!!! 5

%html{ itemscope: true, itemtype: "http://schema.org/BlogPosting", lang: 'en' }
  %head
    %title= "Roman Rott - #{current_article.title}"
    = partial 'partials/meta'
    %meta{ name: 'keywords',    content: current_article.tags.join(', ') }
    %meta{ name: 'description', content: current_article.title }
    = stylesheet_link_tag 'application', property: 'stylesheet'
    = stylesheet_link_tag 'portfolio', property: 'stylesheet'
    = stylesheet_link_tag 'syntax', property: 'stylesheet'
    = stylesheet_link_tag 'print', media: 'print'

  %body
    %section.portfolio
      = partial 'partials/blog/menu'

      %section.portfolio-content.column
        = partial 'partials/breadcrumbs', locals: { breadcrumbs: [{title: 'Blog', url: '/blog/'}, {title:current_article.data["category"], url: "/blog/#{current_article.data["category"].downcase}/"}, {title: current_article.title}] }
        %article
          .blog-block
            %time{ datetime: current_article.date} #{ current_article.date.strftime('%b %e %Y') }
            = yield
            %h3 Keep having a good day!
            %br
            = disqus
            = disqus_count
          = partial 'partials/footer', locals: { title: "Roman Rott's Blog" }

    = javascript_include_tag 'lunar-search', defer: :defer, async: :async
    = javascript_include_tag 'image-preview'
    = javascript_include_tag 'blog'
    = partial 'partials/production_code'
