!!! 5

%html{ itemscope: true, itemtype: "http://schema.org/BlogPosting", lang: 'en' }
  %head
    %title= site.blog.title
    = partial 'partials/meta'
    %meta{ name: 'keywords',      content: site.blog.keywords }
    %meta{ name: 'description',   content: site.blog.description }
    %meta{ name: 'twitter:image', content: site.blog.preview }
    = stylesheet_link_tag 'application', property: 'stylesheet', defer: :defer, async: true
    = stylesheet_link_tag 'portfolio',   property: 'stylesheet', defer: :defer, async: true
    = stylesheet_link_tag 'print', media: 'print'

  %body
    = yield

    -# = javascript_include_tag 'lunar-search', defer: :defer, async: true
    = partial 'partials/production_code'
