!!! 5

%html{ itemscope: true, itemtype: "http://schema.org/BlogPosting", lang: 'en' }
  %head
    = stylesheet_link_tag  'portfolio', property: 'stylesheet'
    = partial 'partials/meta'
    %title= data.site.blog.title
    %meta{ name: 'keywords',    content: data.site.blog.keywords }
    %meta{ name: 'description', content: data.site.blog.description }

  %body
    = yield

    = stylesheet_link_tag 'application', property: 'stylesheet'
    = javascript_include_tag 'lunar-search'

    - if build?
      %script{ async: true, src: "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52d2dafa2886822d", type: "text/javascript" }
      -# Google Analytics
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-72811093-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = 'https://ssl.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();