!!! 5

%html{ itemscope: true, itemtype: "http://schema.org/WebPage", lang: 'en' }
  %head
    %title=site.main.title
    = partial 'partials/meta'
    %meta{ name: 'keywords',      content: site.main.keywords }
    %meta{ name: 'description',   content: site.main.description }
    %meta{ name: 'twitter:image', content: site.blog.preview || site_config.logo_preview }
    = stylesheet_link_tag 'index',       property: 'stylesheet'
    = stylesheet_link_tag 'application', property: 'stylesheet'
    = stylesheet_link_tag 'print', media: 'print'

  %body
    = yield

    %script{ type: "application/ld+json" }
      = schema

    = partial 'partials/ga'
