!!! 5

%html{lang: 'en'}
  %head
    %title=data.site.title
    = stylesheet_link_tag  'application'
    = partial 'meta'
    %link(rel="prerender" href="https://rott.org.ua/portfolio")

    = yield

    -# Javascripts
    = javascript_include_tag 'application', async: true
    = stylesheet_link_tag  'grids-min'
    = stylesheet_link_tag  'grids-responsive-min'
    - if build?
      -# Google Analytics
      :javascript
        var _gaq=[['_setAccount','UA-41765849-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
