!!! 5
/[if lt IE 7]   <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en-us">
/[if IE 7]      <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en-us">
/[if IE 8]      <html class="no-js lt-ie10 lt-ie9" lang="en-us">
/[if IE 9]      <html class="no-js lt-ie10 lt-ie9" lang="en-us">
/[if lt IE 10]  <html class="no-js lt-ie10" lang="en-us">
/[if !IE]>
%html{lang: 'en', class: 'no-js'}
  /<![endif]
  %head
    %title #{data.page.title || "The Middleman"}
    %meta(http-equiv="content-type" content="text/html" charset="utf-8")
    %meta(http-equiv="x-ua-compatible" content="ie=edge,chrome=1")
    %meta(name="description" content="")
    %meta(name="author" content="")

    -# Standard viewport tag to set the viewport to the device's width,
    -# Android 2.3 devices need this so 100% width works properly and
    -# doesn't allow children to blow up the viewport width
    %meta{content: "initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width", name: "viewport"}

    -# Fix for iPhone 5 fullscreen web apps
    %meta(name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)")
    %meta(name='apple-mobile-web-app-capable' content='yes')
    %meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')

    -# App Icons
    %link(rel="shortcut icon" href="/images/favicon.ico")
    %link(rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/apple-touch-icon-57x57-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon-72x72-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon-114x114-precomposed.png")

    -# Stylesheets
    = stylesheet_link_tag 'application'
  %body
    #header
      .top
        #logo
          %span.image.avatar48
            %img{:alt => "", :src => "images/avatar.jpg"}/
          %h1#title Jane Doe
          %p Hyperspace Engineer
        %nav#nav
          %ul
            %li
              %a#top-link.skel-layers-ignoreHref{:href => "#top"}
                %span.icon.fa-home Intro
            %li
              %a#portfolio-link.skel-layers-ignoreHref{:href => "#portfolio"}
                %span.icon.fa-th Portfolio
            %li
              %a#about-link.skel-layers-ignoreHref{:href => "#about"}
                %span.icon.fa-user About Me
            %li
              %a#contact-link.skel-layers-ignoreHref{:href => "#contact"}
                %span.icon.fa-envelope Contact
      .bottom
        %ul.icons
          %li
            %a.icon.fa-twitter{:href => "#"}
              %span.label Twitter
          %li
            %a.icon.fa-facebook{:href => "#"}
              %span.label Facebook
          %li
            %a.icon.fa-github{:href => "#"}
              %span.label Github
          %li
            %a.icon.fa-dribbble{:href => "#"}
              %span.label Dribbble
          %li
            %a.icon.fa-envelope{:href => "#"}
              %span.label Email
    #main
      %section#top.one.dark.cover
        .container
          %header
            %h2.alt
              Hi! Im
              = succeed "," do
                %strong Roman Rott

      / Portfolio
      %section#portfolio.two
        .container
          %header
            %h2 Portfolio
          %p
            Vitae natoque dictum etiam semper magnis enim feugiat convallis convallis
            egestas rhoncus ridiculus in quis risus amet curabitur tempor orci penatibus.
            Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis
            fusce hendrerit lacus ridiculus.
          .row
            .4u{:class => "12u$(mobile)"}
              %article.item
                %a.image.fit{:href => "#"}
                  %img{:alt => "", :src => "images/pic02.jpg"}/
                %header
                  %h3 Ipsum Feugiat
              %article.item
                %a.image.fit{:href => "#"}
                  %img{:alt => "", :src => "images/pic03.jpg"}/
                %header
                  %h3 Rhoncus Semper
            .4u{:class => "12u$(mobile)"}
              %article.item
                %a.image.fit{:href => "#"}
                  %img{:alt => "", :src => "images/pic04.jpg"}/
                %header
                  %h3 Magna Nullam
              %article.item
                %a.image.fit{:href => "#"}
                  %img{:alt => "", :src => "images/pic05.jpg"}/
                %header
                  %h3 Natoque Vitae
            %div{:class => "4u$ 12u$(mobile)"}
              %article.item
                %a.image.fit{:href => "#"}
                  %img{:alt => "", :src => "images/pic06.jpg"}/
                %header
                  %h3 Dolor Penatibus
              %article.item
                %a.image.fit{:href => "#"}
                  %img{:alt => "", :src => "images/pic07.jpg"}/
                %header
                  %h3 Orci Convallis
      / About Me
      %section#about.three
        .container
          %header
            %h2 About Me
          %a.image.featured{:href => "#"}
            %img{:alt => "", :src => "images/pic08.jpg"}/
          %p
            Tincidunt eu elit diam magnis pretium accumsan etiam id urna. Ridiculus
            ultricies curae quis et rhoncus velit. Lobortis elementum aliquet nec vitae
            laoreet eget cubilia quam non etiam odio tincidunt montes. Elementum sem
            parturient nulla quam placerat viverra mauris non cum elit tempus ullamcorper
            dolor. Libero rutrum ut lacinia donec curae mus vel quisque sociis nec
            ornare iaculis.
      / Contact
      %section#contact.four
        .container
          %header
            %h2 Contact
          %p
            Elementum sem parturient nulla quam placerat viverra
            mauris non cum elit tempus ullamcorper dolor. Libero rutrum ut lacinia
            donec curae mus. Eleifend id porttitor ac ultricies lobortis sem nunc
            orci ridiculus faucibus a consectetur. Porttitor curae mauris urna mi dolor.
          %form{:action => "#", :method => "post"}
            .row
              .6u{:class => "12u$(mobile)"}
                %input{:name => "name", :placeholder => "Name", :type => "text"}/
              %div{:class => "6u$ 12u$(mobile)"}
                %input{:name => "email", :placeholder => "Email", :type => "text"}/
              %div{:class => "12u$"}
                %textarea{:name => "message", :placeholder => "Message"}
              %div{:class => "12u$"}
                %input{:type => "submit", :value => "Send Message"}/
    / Footer
    #footer

    / Scripts



    = yield
    -# Javascripts
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'
    = javascript_include_tag 'application'

    - if build?
      -# Google Analytics
      :javascript
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
