!!! 5

%html{lang: 'en'}
  %head
    %title=data.site.title
    = stylesheet_link_tag  'blog'
    = stylesheet_link_tag  'grids-min'
    = stylesheet_link_tag  'grids-responsive-min'

    = partial 'meta'
    %link(rel="prerender" href="https://irarott.com")

    = yield


    = javascript_include_tag 'image-preview', async: true
    - if build?
      -# Google Analytics
      :javascript
        var _gaq=[['_setAccount','UA-41765849-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));

