!!! 5

%html{lang: 'en'}
  %head
    %title=data.site.title
    = partial 'meta'
    %link(rel="prerender" href="https://irarott.com")

    = yield


    = javascript_include_tag 'image-preview', async: true
    = stylesheet_link_tag  'portfolio-blog'
    = stylesheet_link_tag  'grids-min'
    = stylesheet_link_tag  'grids-responsive-min'

    - if build?
      -# Google Analytics
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-41765849-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();