!!! 5

%html{ itemscope: true, itemtype: "http://schema.org/WebPage", lang: 'en' }
  %head
    %title= title
    = partial 'partials/meta'
    %meta{ name: 'keywords',    content: keywords }
    %meta{ name: 'description', content: description }

    -if defined? canonical and canonical != nil
      %meta{ name: "robots", content: "noindex, follow" }
      %link{ href: canonical, rel: "canonical" }
    = stylesheet_link_tag 'application', property: 'stylesheet'
    = stylesheet_link_tag 'portfolio', property: 'stylesheet'

  %body
    = yield

    = javascript_include_tag 'image-preview', defer: :defer, async: :async
    = partial 'partials/production_code'

    :javascript
      window.Helpers.disableLinks()
