!!! 5

%html{ itemscope: true, itemtype: "http://schema.org/WebPage", lang: 'en' }
  %head
    %title= data.site.portfolio.title
    = partial 'partials/meta'
    %meta{ name: 'keywords',      content: data.site.portfolio.keywords }
    %meta{ name: 'description',   content: data.site.portfolio.description }
    %meta{ name: 'twitter:image', content: data.site.blog.preview }
    = stylesheet_link_tag 'application', property: 'stylesheet'
    = stylesheet_link_tag 'portfolio', property: 'stylesheet'
    = stylesheet_link_tag 'print', media: 'print'

  %body
    = yield

    = javascript_include_tag 'lunar-search', defer: :defer, async: true
    = partial 'partials/production_code'
