!!! 5

%html{itemscope: true, itemtype: "http://schema.org/WebPage", lang: 'en'}
  %head
    = stylesheet_link_tag  'portfolio', property: 'stylesheet'
    = stylesheet_link_tag    'grids', property: 'stylesheet'
    = partial 'meta'
    %title= data.site.portfolio.title
    %meta{name: 'keywords',    content: data.site.portfolio.keywords}
    %meta{name: 'description', content: data.site.portfolio.description}

  %body
    = yield

    = javascript_include_tag 'image-preview'
    - if build?
      -# -# Google Analytics
      -# :javascript
      -#   var _gaq = _gaq || [];
      -#   _gaq.push(['_setAccount', 'UA-72811093-1']);
      -#   _gaq.push(['_trackPageview']);
      -#   (function() {
      -#     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      -#     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      -#     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      -#   })();