.pure-u-1
  - project.about.each do |about|
    .pure-u-1
      #{about}
%br
%br
.pure-u-1
  .bold.inline Role:
  .inline #{project.role}
.pure-u-1
  .bold.inline Responsibilities:
  .inline #{project.responsibilities}
.pure-u-1
  .bold.inline Languages:
  .inline #{project.languages}
.pure-u-1
  .bold.inline Frameworks/Libs:
  .inline #{project.libs}
- if project.testing
  .pure-u-1
    .bold.inline Testing Frameworks:
    .inline #{project.testing}
- if project.other
  .pure-u-1
    .bold.inline Other technologies:
    .inline #{project.other}
.pure-u-1
  .bold.inline Status:
  .inline #{project.status.message}
.pure-u-1
  - if project.status.urls
    - project.status.urls.each do |url|
      #{url.pre}
      %a{href: url.link, target: '_blank', rel: nofollow(url.nofollow), title: url.description} #{url.short}
      %br