.pure-u-1
  - project.about.each do |about|
    .pure-u-1
      #{about}
%br
%br
.pure-u-1
  .bold Role:
  #{project.role}
.pure-u-1
  .bold Responsibilities:
  #{project.responsibilities}
.pure-u-1
  .bold Languages:
  #{project.languages}
.pure-u-1
  .bold Frameworks/Libs:
  #{project.libs}
- if project.testing
  .pure-u-1
    .bold Testing Frameworks:
    #{project.testing}
- if project.other
  .pure-u-1
    .bold Other technologies:
    #{project.other}
.pure-u-1
  .bold Status:
  #{project.status.message}
.pure-u-1
  - if project.status.urls
    - project.status.urls.each do |url|
      #{url.pre}
      %a{href: url.link, targer: '_blank', nofollow: url.nofollow, title: url.description} #{url.short}
      %br