.posts{id: "#{projects.id_name}"}
  %h2.content-subhead
    - if projects.url
      %a{href: "#{projects.url}", alt: "#{projects.title}", target: '_blank'} #{projects.title}
    - else
      #{projects.title}
  - projects.projects.each do |project|
    - if project.noindex
      %noindex
        = partial 'portfolio/project', locals: { project: data.projects[project.name]}
    - else
      = partial 'portfolio/project', locals: { project: data.projects[project.name]}

