.posts{id: "#{projects.id_name}"}
  %h2.content-subhead
    - if projects.url
      %a{href: "#{projects.url}", alt: "#{projects.title}"} #{projects.title}
    - else
      #{projects.title}
  - projects.projects.each do |project|
    = partial 'portfolio/project', locals: { project: data.projects[project.name]}
