!!! 5

%html
  %head
    %title=data.site.not_found.title
    = partial 'partials/meta'

    %meta{ name: 'keywords',    content: data.site.not_found.keywords }
    %meta{ name: 'description', content: data.site.not_found.description }
  %body
    %main.center
      %header#error
        %h1.error-code 404 Error Page
        %h3.error-message
          The page you are looking for was not found.
      %nav
        %a{ href: "/", title: 'Home of rrott.com' } Home
        |
        %a{ href: "/sitemap/", title: 'Sitemap of rrott.com' } Site Map
      %section.logo
        = partial('images/rrott-ruby-logo.svg').to_s
      %hr
      = partial 'partials/contacts'
      = partial 'partials/footer', locals: { title: nil }

    = stylesheet_link_tag 'index', property: 'stylesheet'
    = stylesheet_link_tag 'application', property: 'stylesheet'
