%section.portfolio.row
  = partial 'partials/blog/menu'
  %section.portfolio-content.column
    = partial 'partials/breadcrumbs', locals: { breadcrumbs: [{title: 'Blog', url: '/blog/'}, {title: category}] }

    %article.justify-between
      .text-block
        %section
          %h3.center
            Blog about Full-Stack development and security researches.

        %ul
          - blog.tags.each do |tag, articles|
            - if tag == category
              %li
                %h5= tag
                %ul
                  - articles.each do |article|
                    %li
                      %a{ :href => article.url} #{article.date.strftime("%Y-%m-%d") } - #{article.title}
                      %br
                      %br

      = partial 'partials/footer', locals: { title: "Roman Rott's Blog" }
