#layout.pure-g
  %section.sidebar.pure-u-1.pure-u-md-1-4
    .header.portfolio-left-part
      %header.brand-title Blog
      %h1.brand-tagline Full-Stack web development and security researches
      %nav.nav
        %ul.nav-list
          %li.nav-item
            %a.pure-button{href: "/", title: "Roman Rott's home page"} Home
          \/
          %li.nav-item
            %a.pure-button{href: "/portfolio/", title: "Roman Rott's Portfolio"} Portfolio
      .pure-img-responsive.logo
        = sprockets.find_asset('rrott-ruby-logo.svg').to_s
      .portfolio-contacts
        %br
        = partial 'links'
        %br
        Open for remote job opportunities
      %br
      .portfolio-categories
        %nav.nav.tag-cloud
          %ul.nav-list
            - data.links.blog_sections.each do |section|
              %li
                %a{href: section.url, title: "#{section.name} blog category"} #{section.name}
      .share
        Share:
        .addthis_sharing_toolbox


  .content.pure-u-1.pure-u-md-3-4
    %article
      %section
        %h1.is-center.content-subhead
          Blog about Full-Stack development and security researches.

      %ul
        - blog.articles.group_by {|a| a.date }.each do |date, articles|
          %li
            %h5= date.strftime('%b %e %Y')
            %ul
              - articles.each do |article|
                %li
                  %a{:href => article.url}= article.title
    -# %ul
    -#   - blog.tags.each do |tag, articles|
    -#     %li
    -#       %h5= tag
    -#       %ul
    -#         - articles.each do |article|
    -#           %li
    -#             %a{:href => article.url}= article.title
    -# %ul
    -#   - blog.articles.each do |article|
    -#     %article
    -#       = article.summary
    -#       %time{datetime: article.date} #{ article.date.strftime('%b %e %Y')}
    -#       %br
    -#       %br
    -#       %a{:href => article.url} Read more...
