%section.portfolio
  = partial 'partials/blog/menu'
  %section.portfolio-content.column
    = partial 'partials/breadcrumbs', locals: { breadcrumbs: [{title: 'Blog', url: '/blog/'}, {title: "List of blog posts"}] }

    %article.justify-between
      .text-block
        %section.blog-intro
          %h2.center
            Security things...
        %section
          %p
            Hello, my name is <strong>Roman Rott</strong>, and I am a Security Analyst and Penetration Tester with a vast background as a Full-Stack Web Developer. Throughout my 17 years of experience in the IT industry, I have dedicated ten years to web development and security auditing of web applications. Over the past three years, I have been expanding my knowledge to transition from Web Development to Cybersecurity.
          %hr
      -# %h3.center.print-break Cast
      .blog-list
        %ul
          - blog.articles.each do |article|
            %li
              %a{ :href => article.url }= article.title

      = partial 'partials/footer', locals: { title: "Roman Rott's Blog" }
      -# %ul
      -#   - blog.tags.each do |tag, articles|
      -#     %li
      -#       %h5= tag
      -#       %ul
      -#         - articles.each do |article|
      -#           %li
      -#             %a{:href => article.url}= article.title
      -# %ul
      -#   - blog.articles.each do |article|
      -#     %article
      -#       = article.summary
      -#       %time{datetime: article.date} #{ article.date.strftime('%b %e %Y')}
      -#       %br
      -#       %br
      -#       %a{:href => article.url} Read more...
      -# = partial 'partials/footer', locals: { title: "Roman Rott's Blog" }
