#layout.pure-g
  %section.sidebar.pure-u-1.pure-u-md-1-4
    .header.portfolio-left-part
      %header.brand-title Blog
      %h1.brand-tagline Full-Stack web development and security researches
      %br
      %nav.nav
        %ul.nav-list
          %li.nav-item
            %a.pure-button{href: "/", title: "Roman Rott's home page"} Home
          \/
          %li.nav-item
            %a.pure-button{href: "/portfolio/", title: "Roman Rott's Portfolio"} Portfolio
      .pure-img-responsive.logo-small
        = sprockets.find_asset('rrott-ruby-logo.svg').to_s
      .portfolio-contacts
        %br
        = partial 'partials/links'
        %br
        Open for remote job opportunities
      %br
      .search
        %form#search{ role: "search" }
          %input#search-field{type: "search", placeholder: "Ruby", required: "required", autocomplete: "off", results: 5, autosave: "rrott_search", tabindex: 1}
          %input#search-submit{type: "submit", value: "Search", tabindex: 2}
        %ul#results
      -# .portfolio-categories
      -#   %nav.nav.tag-cloud
      -#     %ul.nav-list
      -#       - data.links.blog_sections.each do |section|
      -#         %li
      -#           %a{href: section.url, title: "#{section.name} blog category"} #{section.name}
      .share
        Share:
        .addthis_sharing_toolbox


.content.pure-u-1.pure-u-md-3-4
  %section
    %ol.breadcrumb{itemscope: true, itemtype: "http://schema.org/BreadcrumbList"}
      %li{itemprop: "itemListElement", itemscope: true, itemtype: "http://schema.org/ListItem"}
        %a{href: "https://rrott.com", itemprop: "item", title: 'home page'}
          %span.breadcrumb_el{itemprop: "name"}Home
        %meta{itemprop: "position", content: "1"}
      %li{itemprop: "itemListElement", itemscope: true, itemtype: "http://schema.org/ListItem"}
        %a{href: "/blog/", itemprop: "item", title: "Rott's blog"}
          %span.breadcrumb_el{itemprop: "name"}Blog
        %meta{itemprop: "position", content: "2"}
      %li{itemprop: "itemListElement", itemscope: true, itemtype: "http://schema.org/ListItem"}
        %h2.breadcrumb_el{itemprop: "name"} #{category}
        %meta{itemprop: "position", content: "3"}

  %article
    %section
      %h3.is-center
        Blog about Full-Stack development and security researches.

    %ul
      - blog.tags.each do |tag, articles|
        - if tag == category
          %li
            %h5= tag
            %ul
              - articles.each do |article|
                %li
                  %a{:href => article.url} #{article.date.strftime("%Y-%m-%d")} - #{article.title}
                  %br
                  %br
