
#layout.pure-g
  .sidebar.pure-u-1.pure-u-md-1-4
    .header.blog-left-part
      .brand-title Blog
      %h1.brand-tagline Full-Stack development and security researches
      %nav.nav
        %ul.nav-list
          %li.nav-item
            %a.pure-button{href: "/", title: "Roman Rott's home page"} Home
          \/
          %li.nav-item
            %a.pure-button{href: "/portfolio/", title: "Portfolio page"} Portfolio
      .blog-contacts
        %br
        = partial 'links'
        %br
        Open for remote job opportunities
      %br
      .blog-categories
        %nav.nav.tag-cloud
          %ul.nav-list
            -# - data.links.blog_sections.each do |section|
            -#   %li
            -#     %a{href: section.url, title: "#{section.name} projects by Roman Rott"} #{section.name}
      .share
        Share:
        .addthis_sharing_toolbox


  .content.pure-u-1.pure-u-md-3-4
    %article
      %section
        %h1.is-center.content-subhead
          Blog about Full-Stack development and security researches.
      -# %time{datetime: '2013-06-12T16:23-05:00'} June 2012
      -# - all_projects.each do |sections|
      -#   - breadcrumbs = all_projects != data.pages.blog.all_blogs.projects_list
      -#   = partial 'blog/section', locals: { projects: sections, breadcrumbs: breadcrumbs}
    - blog.articles[0...5].each do |article|
      %article
        %h2
          %a{:href => article.url}= article.title
          %time= article.date.strftime('%b %e %Y')
        = article.summary
        %a{:href => article.url} Read more
