%section.portfolio.flex.row
  %aside.portfolio-menu.center.flex.row.wrap
    %div
      .brand-title Blog
      %h1.brand-tagline Full-Stack web development and security researches
      %nav.nav
        %ul.nav-list
          %li.nav-item
            %a{ href: "/", title: "Roman Rott's home page" } Home
          \/
          %li.nav-item
            %a{ href: "/portfolio/", title: "Roman Rott's Portfolio" } Portfolio
      .responsive.logo-small
        = partial('images/rrott-ruby-logo.svg').to_s
      .portfolio-contacts
        = partial 'partials/links'
        Open for remote job opportunities

      .search
        %form#search{ role: "search" }
          %input#search-field{ type: "search", placeholder: "Ruby", required: "required", autocomplete: "on", results: 5, autosave: "rrott_search", tabindex: 1, spellcheck: true, autocapitalize: "off", autocorrect: "off", autofocus: true, 'x-webkit-speech': true, maxlength: 30 }
          %input#search-submit{ type: "submit", value: "Search", tabindex: 2 }
        %ul#results
      .share
        Share:
        .addthis_sharing_toolbox

  %section.portfolio-content.flex.column
    %ol.breadcrumb{ itemscope: true, itemtype: "http://schema.org/BreadcrumbList" }
      %li{ itemprop: "itemListElement", itemscope: true, itemtype: "http://schema.org/ListItem" }
        %a{ href: "https://rrott.com", itemprop: "item", title: 'home page' }
          %span.breadcrumb-el{ itemprop: "name" }Home
        %meta{ itemprop: "position", content: "1" }
      %li{ itemprop: "itemListElement", itemscope: true, itemtype: "http://schema.org/ListItem" }
        %a{ href: "/blog/", itemprop: "item", title: "Rott's portfolio" }
          %span.breadcrumb-el{ itemprop: "name" }Blog
        %meta{ itemprop: "position", content: "2" }
      %li{ itemprop: "itemListElement", itemscope: true, itemtype: "http://schema.org/ListItem" }
        %h2.breadcrumb_el{ itemprop: "name" } #{category}
        %meta{ itemprop: "position", content: "3" }

    %article.text-block
      %section
        %h3.center
          Blog about Full-Stack development and security researches.

      %ul
        - blog.tags.each do |tag, articles|
          - if tag == category
            %li
              %h5= tag
              %ul
                - articles.each do |article|
                  %li
                    %a{ :href => article.url} #{article.date.strftime("%Y-%m-%d") } - #{article.title}
                    %br
                    %br

    %footer.footer.l-box.center
      = partial 'partials/links'
      %br
      Roman Rott's blog
      %br
      %a{ href: "/sitemap/", title: 'Sitemap of rrott.com' }
        SiteMap