%header
  .splash-container
    %strong.splash{ itemprop: "name" } Roman Rott

%main
  %section.links-block.column.justify-center.open-block
    = partial 'partials/links'
    - if open_for_remote
      %h6.center.open-for-remote Open for remote job opportunities. Contact me if you're interested.

  %section.content.about-me
    %h1.center
      Hello, my name is
      %span Roman Rott!
    .text-block
      %p
        I'm a Ukrainian front-end/back-end developer with 15 years of IT experience and 8 years experience dedicated to web development and security audit of web applications.
        I specialize in developing secure and optimised apps as well as in testing websites for security vulnerabilities.
      %p
        %strong Ruby
        is my favorite when it comes to following TDD and OOP best practices, while
        %strong EcmaScript
        is the best one for front-end.
      %p I do enjoy building everything from small OSS aps and libs, landing pages, business sites to rich interactive web apps, single page applications, etc.
      %p
        I'm working remotely on web projects for clients all over the world and from time to time I take part in bug-bounty programs.

  %section.dark.content.dev-skills
    %h2.center Web Developer
    .stickers
      .logo.responsive.wrap.justify-center
        - ['react', 'redux', 'ruby', 'rails', 'js', 'es', 'html5', 'css'].each do |sticker|
          .sticker{ class: sticker }

      .text-block.vw70
        %p Over the 9 years I was working on various positions and at different departments in a big Cloud and Shared Hosting company, Ecommerce.com. 6 of them were in Tech Support(Customer Relation) department and 4 in IT as a Ruby/Rails developer. There I grew up as a web-developer, as a manager, and as a person.

        %p Last 5-6 years I was working for different consulting and product companies where I've got extended experience in React, Redux and ES6.

        %p I also design and develop vulnerable applications for CTF hacking games that give an opportunity for security researchers to practice their skills. Below is a portfolio that contains a list of such apps and web services.

        %p
          All of these sites and services were developed using
          %strong
            Ruby, CoffeeScript, JS, ES6, React, Redux, Backbone, Sinatra, Padrino and RoR
          frameworks. Some of them handles large amounts of traffic on daily basis.

        %p My Full-Stack web developer portfolio is a brief summary of the projects samples that I've accomplished during last years.

        %h3.portfolio-link
          %a{ href: "/portfolio/" }
            Check out my portfolio
  %section.content.infosec
    %h2.center Cyber Security Enthusiast
    .row
      .text-block.infosec-text
        %p
          I enjoy testing websites for security vulnerabilities (both white-box and black-box) independently or on the platforms like
          %a.print{ href: "https://bugcrowd.com/rrott", target: '_blank', rel: 'noopener noreferrer' }<
            BugCrowd
          and
          %a.print{ href: "https://hackerone.com/rrott", target: '_blank', rel: 'noopener noreferrer' }<
            HackerOne.
          I held several internal Web Application Security Assessments for the products I've been working on as a developer, preparing reports and/or fixing found bugs and issues.
          My interest in the
          %strong Ethical Hacking
          has resulted in dozens and dozens of found and reported security issues in such services as: rubygems.org, ZeroMail, tagged.com, etc
        %p
          Recently I had an opportunity to take part in a CTF(Capture The Flag) security game as one of Game Masters on the very first NoNameCon conference &mdash; I've creaed admin interface for it and was monitoring and maintaining it during the game.
        %p
          I also used to design, deploy and support vulnerable web and mobile applications for CTF hacking games organized or supported by the
          %a.print{ href: "https://berezhasecurity.com/", target: '_blank', rel: 'noopener noreferrer' }<
            «Berezha Security Group»
          for:
        %ul
          %li.link
            %a{ href: "https://twitter.com/berezhasecurity/status/1182275892262907905/photo/1", target: '_blank', rel: 'noopener noreferrer' }<
              %strong BruCON 0x0B
            (2019)
            &mdash; (only assisted with creating UI for a vulnerable website)
          %li.link
            %a{ href: "https://nonamecon.org", target: '_blank', rel: 'noopener noreferrer' }<
              %strong NoNameCon
            (2018) &mdash; Practical Cybersecurity Conference (created admin interface, was one of the Game Masters)
          %li.link
            %a{ href: "https://uisgcon.org/en/about-uisgcon", target: '_blank', rel: 'noopener noreferrer' }<
              %strong UISGCon
            \#10, #11, #12 (2014-2016) &mdash; Ukrainian InfoSec conference held by Non Government Organisation
            %strong «Ukrainian Information Security Group»
          %li.link
            The Cybersecurity Olympiad
            %strong «HackIT-2015»
          %li.link
            International forum
            %strong «Cybersecurity: Ukraine and the world»

  .logo-place
    .logo.responsive
      = partial('images/rrott-ruby-logo.svg').to_s
  %section.content.oss.dark
    %h2.center Community Development
    .flex
      .center.vw30
      .text-block.vw70
        %h3.oss-text Contributing to open source projects:
        %a.link{ href: "https://github.com/react-toolbox/react-toolbox/pulls?utf8=%E2%9C%93&q=is%3Apr%20author%3Arrott", target: '_blank', rel: 'nofollow noopener noreferrer' }<
          react-toolbox
        %a.link{ href: "https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/2690#note_3543658", target: '_blank', rel: 'nofollow noopener noreferrer' }<
          gitlab-org/gitlab-ce
        %a.link{ href: "https://github.com/floere/phony/pull/180", target: '_blank', rel: 'nofollow noopener noreferrer' }<
          floere/phony
        %a.link{ href: "https://github.com/dnesteryuk/site_prism.vcr/pull/3", target: '_blank', rel: 'nofollow noopener noreferrer' }<
          dnesteryuk/site_prism.vcr

        %h3.oss-text.padding2 Volunteering:
        %ul
          %li.link
            Was working as a full-stack developer, creating, configuring CI/CD and maintaining website for the
            %a{ href: "https://2019.nonamecon.org/" }<
              «NoNameCon #2»
            Practical Cybersecurity Conference (2019)
          %li.link
            Did the same for the annual
            %a{ href: "https://owaspukraine.org/" }<
              «OWASP Ukraine»
            Cybersecurity Conference held by
            %a.print{ href: "https://www.owasp.org/index.php/Lviv", target: '_blank', rel: 'noopener noreferrer' }<
              %strong OWASP Lviv
            Chapter (2019)
          %li.link
            Almost all apps/sites created by me for the CTFs, were prepared for students, non-profit organisations or just for fun.

        %h3.oss-text.padding2 Developing local community:
        %ul
          %li.link
            Held
            %a{ href: "/blog/security/ruby-for-pentesters.html" }<
              «Ruby for Pentesters»
            %a{ href: "https://www.youtube.com/watch?v=QtZy5wvAVAA" }<
              presentation
            on the
            %a.print{ href: "https://www.owasp.org/index.php/Kyiv", target: '_blank', rel: 'noopener noreferrer' }<
              %strong OWASP Kyiv
            Chapter Kick-off Meeting.
          %li.link
            Held
            %a{ href: "/https://www.youtube.com/watch?v=FV6s8tUJQSs" }<
              «Ruby Security Tips»
            presentation on the
            %a.print{ href: "https://www.owasp.org/index.php/Kyiv", target: '_blank', rel: 'noopener noreferrer' }<
              %strong OWASP Kyiv Summer 2019 Meetup
          %li.link
            Had a talk on the
            %a{ href: "https://www.facebook.com/RubyMeditation/posts/1122062657874189", target: '_blank', rel: 'noopener noreferrer' }<
              11th Ruby Meditation
            meetup.
          %li.link
            Partnered with 4 friends of mine to plan and execute several frontend Meetups and the very first
            %a{ href: "https://en.wikipedia.org/wiki/Hackathon", target: '_blank', rel: 'nofollow noopener noreferrer' }<
              Hackathon
            in Zaporizhzhya city &mdash;
            %a{ href: "http://www.vr-online.ru/blog/24hack-khakaton-v-zaporozhe-8785", target: '_blank',rel: 'noopener noreferrer' }<
              «24Hack»
        .recent-blogposts
          %h3.oss-text.padding2 Recent posts from my blog:
          %ul
            - blog.articles[0...3].each do |article|
              %li.link
                %a{ href: "#{article.url}", title: "#{article.title}" }
                  %time{ datetime: article.date}="#{article.date.strftime('%b %e %Y')}"
                  &mdash; #{article.title}
            %li.link
              %a{ href: "/blog/", title: "link to my blog" }
                Read more...
= partial 'partials/contacts'
= partial 'partials/footer', locals: { title: nil }
