%body
  .splash-container
    .splash
      %h1.splash-head Roman Rott
  .content-wrapper
    .content.content-head
      .links.is-center
        = partial 'links'
        %br
        Open for remote job opportunities. Contact me, if you're interested
      .pure-g
        .l-box.pure-u-1
          .about.pure-u-1
            %h2.is-center.content-subhead
              Hello, my name is Roman Rott!
            %ul
              I'm a Ukrainian front-end/back-end developer with 10+ years of IT experience and about 4 years experience dedicated to web-development and security auditing of web applications.
              I specialise in developing secure and optimised websites as well as in testing websites for security vulnerabilities.
            %ul
              %b CoffeeScript and Ruby
              are my best to follow TDD and OOP best practices.
              I do enjoy building everything from small OSS libs, business sites, Landing Pages to rich interactive web apps.
            %ul
              I'm working remotely on web projects for clients all over the world and at times I am taking part of bug-bounty programs.

          -# .pure-g
          -#   %ul.pure-u-1.pure-u-md-1-2
          -#     %h3.is-center Recent posts from my blog:
          -#     - blog.articles[0...5].each do |article|
          -#       %article
          -#         %h3
          -#           %a{href: "#{article.url}", title: "#{article.title}" }
          -#           %time="#{article.date.strftime('%b %e %Y')}"
          -#         "#{article.summary}"
          -#         %a{href: "#{article.url}"} Read more
            -# %ul.pure-u-1.pure-u-md-1-2
            -#   %h3.is-center Pined posts from my blog:
            -#   - blog.articles[0...5].each do |article|
            -#     %article
            -#       %h3
            -#         %a{href: "#{article.url}", title: "#{article.title}" }
            -#         %time="#{article.date.strftime('%b %e %Y')}"
            -#       "#{article.summary}"
            -#       %a{href: "#{article.url}"} Read more

    .ribbon.l-box-lrg.pure-g
      .l-box-lrg.pure-u-1
        %h3.content-subhead.is-center
          Web Developer
        .pure-g
          .l-box-lrg.is-center.pure-u-1.pure-u-md-1-4
            %img.pure-img-responsive.logo{alt: "rrott's Ukrainian ruby logo", src: "images/rrott-ruby-logo.png", width: "300", heigh: '177',onmouseover: "this.src='images/rrott-ruby-logo-ukraine.png'", onmouseout: "this.src='images/rrott-ruby-logo.png'"}

          .pure-u-1.pure-u-md-3-4
            %ul
              During last 3 years I has been developing, supporting and maintaining web-projects for the US hosting company - Ecommerce.com. The company services  the high-level of world-wide shared and cloud hosting services to its customers.
            %ul
              I also used to design vulnerable applications for CTF hacking games that give an opportunity for researches to practice their skills. Bellow portfolio contains a list of such web services.
            %ul
              All of these sites were developed by using Ruby, CoffeeScript, Javascript languages and Backbone, Sinatra, Padrino, Ruby on Rails frameworks. Some of them experience large amount of traffic on daily basis.
            %ul
              My webdeveloper portfolio is a brief summary of the projects samples that I've accomplished in 2015.

              %h4
                %a{href: "/portfolio"}
                  Check out my portfolio
    .content.infosec
      .pure-g
        %h3.content-subhead.is-center.pure-u-1
          Security Researcher
        .pure-g
          .pure-u-1.pure-u-md-3-5
            %ul
              I like test websites for security vulnerabilities(both white-box and black-box), taking my chances on
              %a{href: "https://bugcrowd.com/rrott", target: '_blank'}
                BugCrowd
              and other private bug bounty services. Result of my interest in ethical hacking are dozens of found and reported security issues in such services us: rubygems.org, ZeroMail, tagged.com, etc.
            %ul
              Last year I took part in a CTF(Capture The Flag security game) as a Game Master and designed several vulnerable web applications for CTF hacking games organized by
              %a{href: "https://berezhasecurity.com/", target: '_blank'}
                «Berezha Security»
              for:
              %ul
                %li
                  %a{href: "https://11.uisgcon.org/en/about-uisgcon", target: '_blank'}
                    UISGCon 11(2015) -
                  Ukrainian InfoSec conference held by Non Government Organisation
                  %b «Ukrainian Information Security Group»
                %li
                  The Cybersecurity Olympiad
                  %a{href: "http://www.hackit-ukraine.com/#content", target: '_blank'}
                    «HackIT-2015»
                %li
                  International forum
                  %a{href: "http://cybersecurity.pp.ua/en/Home", target: '_blank'}
                    «Cybersecurity: Ukraine and the world»
                %li
                  %a{href: "https://10.uisgcon.org/en", target: '_blank'}
                    UISGCon 10(2014) -
                  Ukrainian InfoSec conference
          .l-box-lrg.is-center.pure-u-1.pure-u-md-2-5.image
            %img.pure-img-responsive.logo{alt: "white hat hacker", src: "images/roman-rott-in-white-hat.png", width: "418", heigh: '480',onmouseover: "this.src='images/roman-rott-in-black-hat.png'", onmouseout: "this.src='images/roman-rott-in-white-hat.png'"}

    .ribbon.l-box-lrg.pure-g
      %h3.content-subhead.is-center.pure-u-1 Community development
      .pure-g
        .l-box-lrg.is-center.pure-u-1.pure-u-md-1-4
          %img.pure-img-responsive.logo{alt: "rrott's Ukrainian ruby logo", src: "images/open-source-logo.png", heigh: '177'}
        .pure-u-1.pure-u-md-3-4
          %ul
            Contributed to open source projects:
            %ul
              %li
                %a{href: "//github.com/rack/rack/pull/992", target: '_blank'}
                  rack/rack
                ,
                %a{href: "//github.com/jashkenas/backbone/pull/3909", target: '_blank'}
                  jashkenas/backbone
                ,
                %a{href: "//github.com/floere/phony/pull/180", target: '_blank'}
                  floere/phony
                ,
                %a{href: "//github.com/dnesteryuk/site_prism.vcr/pull/3", target: '_blank'}
                  dnesteryuk/site_prism.vcr
          %ul
            I do maintain my own open source project:
            %ul
              %li
                «Grunt Coffee Chain» - grunt plugin inspired by Sprockets to compile CoffeeScripts that has sprockets-style comments to indicate dependencies.
                %ul
                  %li
                    npm:
                    %a{href: "https://www.npmjs.com/package/grunt-coffee-chain", target: '_blank'}
                      package/grunt-coffee-chain
                  %li
                    GitHub:
                    %a{href: "https://github.com/rrott/grunt_coffee_chain", target: '_blank'}
                      rrott/grunt_coffee_chain
                  %li
                    WebSite:
                    %a{href: "http://coffee.rott.org.ua/", target: '_blank'}
                      http://coffee.rott.org.ua/
                  %li
                    Portfolio:
                    %a{href: "/portfolio/#grunt-coffee-chain", target: '_blank'}
                      https://rott.org.ua/portfolio/#grunt-coffee-chain
              %br
              %li
                «Asana God Contact» - A God::Contacts class for sending notifications to Asana. God is an monitoring framework written in Ruby.
                %ul
                  %li
                    RubyGems:
                    %a{href: "https://rubygems.org/gems/asana-god-contact", target: '_blank'}
                      gems/asana-god-contact
                  %li
                    WebSite:
                    %a{href: "http://asana.rott.org.ua/", target: '_blank'}
                      http://coffee.rott.org.ua/
                  %li
                    Portfolio:
                    %a{href: "/portfolio/#asana-god-contact", target: '_blank'}
                      https://rott.org.ua/portfolio/#asana-god-contact

          %ul
            Partnered with 4 friends of mine to plan and execute several frontend Meetups and the very first Hackathon in Zaporizhzhya city -
            %a{href: "http://www.vr-online.ru/blog/24hack-khakaton-v-zaporozhe-8785", target: '_blank'}
              «24Hack»

    #contacts.content
      .pure-g
        %h2.content-subhead.is-center.pure-u-1
          Contact information
        .pure-u-1.is-center
          If you are a business, that seek for a web presence, or an employer, who want to hire a remote specialist -  you can get in touch with me here.
      = partial 'contacts'
      %h3.is-center.pure-u-1 Lets build something great!

    .footer.l-box.is-center
      = partial 'links'
    -# = code('ruby') do
    -#   puts "hello"