%body
  .main
    .splash-container{style: 'background: #1f8dd6;'}
    .splash-container
      .splash
        %strong.splash-head{itemprop: "name"} Roman Rott
    }

  .content-wrapper{itemscope: true, itemtype: "http://schema.org/Person"}
    .content.content-head
      .links.is-center
        = partial 'links'
        %br
        Open for remote job opportunities. Contact me if you're interested
      .pure-g
        .l-box.pure-u-1
          .about.pure-u-1
            %h1.is-center.content-subhead
              Hello, my name is
              %span Roman Rott!
            .pure-g
              %p.pure-u-1
                I'm a Ukrainian front-end/back-end developer with 10+ years of IT experience and about 4 years experience dedicated to web development and security audit of web applications.
                I specialize in developing secure and optimised websites as well as in testing websites for security vulnerabilities.
              %p.pure-u-1
                %strong CoffeeScript and Ruby
                are among my favorites when it comes to following TDD and OOP best practices.
                I do enjoy building everything from small OSS libs, business sites, Landing Pages to rich interactive web apps.
              %p.pure-u-1
                I'm working remotely on web projects for clients all over the world and from time to time I take part in bug-bounty programs.


          -# .pure-g
          -#   %ul.pure-u-1.pure-u-md-1-2
          -#     %h3.is-center Recent posts from my blog:
          -#     - blog.articles[0...5].each do |article|
          -#       %article
          -#         %h3
          -#           %a{href: "#{article.url}", title: "#{article.title}" }
          -#           %time="#{article.date.strftime('%b %e %Y')}"
          -#         "#{article.summary}"
          -#         %a{href: "#{article.url}"} Read more
            -# %ul.pure-u-1.pure-u-md-1-2
            -#   %h3.is-center Pined posts from my blog:
            -#   - blog.articles[0...5].each do |article|
            -#     %article
            -#       %h3
            -#         %a{href: "#{article.url}", title: "#{article.title}" }
            -#         %time="#{article.date.strftime('%b %e %Y')}"
            -#       "#{article.summary}"
            -#       %a{href: "#{article.url}"} Read more

    .ribbon.l-box-lrg
      %h2.content-subhead.is-center
        Web Developer
      .pure-g
        .l-box-lrg.is-center.pure-u-1.pure-u-md-1-4
          %img.pure-img-responsive.logo{title: "rrott logo", alt: "rrott ruby logo", src: "images/rrott-ruby-logo.svg"}

        .pure-u-1.pure-u-md-3-4
          %p During last 3 years, I have been developing, supporting and maintaining web-projects for the US hosting company - Ecommerce.com. The company services  the high-level of world-wide shared and cloud hosting products to its customers.

          %p I also design and develop vulnerable applications for CTF hacking games that give an opportunity for researchers to practice their skills. Bellow portfolio contains a list of such web services.
          %p All of these sites were developed using Ruby, CoffeeScript, Javascript languages and Backbone, Sinatra, Padrino, Ruby on Rails frameworks. Some of them are able to handle large amounts of traffic on daily basis.


          %p My Full-Stack web developer portfolio is a brief summary of the projects samples that I've accomplished in 2015.

          %h3
            %a{href: "/portfolio/"}
              Check out my portfolio
    .content.infosec
      %h2.content-subhead.is-center.pure-u-1
        Security Researcher
      .pure-g
        .pure-u-1.pure-u-md-3-5.infosec-text
          %p I like to test websites for security vulnerabilities (both white-box and black-box) challenging at
          %a{href: "https://bugcrowd.com/rrott", target: '_blank'}
            BugCrowd
          and other private bug bounty services. The result of my interest in ethical hacking are dozens of found and reported security issues in such services as: rubygems.org, ZeroMail, tagged.com, etc.

          %p Last year I took part in a CTF(Capture The Flag security game) as a Game Master and designed several vulnerable web applications for CTF hacking games organized by «Berezha Security» for:
          %ul
            %li
              %a{href: "https://11.uisgcon.org/en/about-uisgcon", target: '_blank'}
                UISGCon 11(2015) -
              Ukrainian InfoSec conference held by Non Government Organisation
              %strong «Ukrainian Information Security Group»
            %li
              The Cybersecurity Olympiad
              %a{href: "http://www.hackit-ukraine.com/#content", target: '_blank'}
                «HackIT-2015»
            %li
              International forum
              %a{href: "http://cybersecurity.pp.ua/en/Home", target: '_blank'}
                «Cybersecurity: Ukraine and the world»
            %li
              %a{href: "https://10.uisgcon.org/en", target: '_blank'}
                UISGCon 10(2014) -
              Ukrainian InfoSec conference
        .l-box-lrg.is-center.pure-u-1.pure-u-md-2-5.image.hat
          .roman_rott

    .ribbon.l-box-lrg.pure-g
      %h2.content-subhead.is-center.pure-u-1 Community development
      .pure-g
        .l-box-lrg.is-center.pure-u-1.pure-u-md-1-4
          %img.pure-img-responsive{title: "Open Source", alt: "Open Source symbol", src: "images/open-source-logo.svg", heigh: '177', width: '183'}
        .pure-u-1.pure-u-md-3-4
          %h5.content-subhead I do maintain my own open source projects:
          %ul
            %li
              %a{href: "/portfolio/#grunt-coffee-chain", target: '_blank', title: "OpenSource JavaScript projrct by Roman Rott"}
                «Grunt Coffee Chain» -
              grunt plugin inspired by Sprockets to compile CoffeeScripts that has sprockets-style comments to indicate dependencies.

            %li
              %a{href: "/portfolio/#asana-god-contact", target: '_blank', title: "OpenSource ruby projrct by Roman Rott"}
                «Asana God Contact» -
              A God::Contacts class for sending notifications to Asana. God is an monitoring framework written in Ruby.
          %h5.content-subhead Contributed to open source projects:
          %ul
            %li
              rack/rack, floere/phony, jashkenas/backbone, dnesteryuk/site_prism.vcr
              -# %a{href: "https://github.com/rack/rack/pull/992", target: '_blank', nofollow: true}
              -#   rack/rack
              -# ,
              -# %a{href: "https://github.com/jashkenas/backbone/pull/3909", target: '_blank', nofollow: true}
              -#   jashkenas/backbone
              -# ,
              -# %a{href: "https://github.com/floere/phony/pull/180", target: '_blank', nofollow: true}
              -#   floere/phony
              -# ,
              -# %a{href: "https://github.com/dnesteryuk/site_prism.vcr/pull/3", target: '_blank', nofollow: true}
              -#   dnesteryuk/site_prism.vcr
          %h5.content-subhead Developed local community:
          %ul
            %li
              Partnered with 4 friends of mine to plan and execute several frontend Meetups and the very first Hackathon in Zaporizhzhya city -
              %a{href: "http://www.vr-online.ru/blog/24hack-khakaton-v-zaporozhe-8785", target: '_blank'}
                «24Hack»

    #contacts.content
      .pure-g
        %h2.content-subhead.is-center.pure-u-1
          Contact information
        .pure-u-1.is-center
          If you are a business looking for a web presence or an employer who is eager to add a remote expertise feel free to get in touch with me right away.
      = partial 'contacts'
      %h3.is-center.pure-u-1 Lets build something great!

    .footer.l-box.is-center
      = partial 'links'
