%header
  .splash-container
    %strong.splash{ itemprop: "name" } Roman Rott

%main
  %section.links-block.column.justify-center.open-block
    = partial 'partials/links'
    - if open_for_remote
      %h6.center.open-for-remote Open for remote job opportunities. Contact me if you're interested.
    - if open_for_remote == false
      %h6.center.open-for-remote [ I am not currently accepting new job opportunities ]
  %section.content.about-me
    %h1.center
      Hello, my name is
      %span Roman Rott!
    .text-block
      %p
        As an
        %strong Application Security Engineer,
        I bring a wealth of experience as a Full-Stack Ruby/JavaScript developer and Technical Support Representative.
        I have accumulated 17 years of IT expertise throughout my career, with a dedicated focus on web development for more than 10 years.
      %p
        I am deeply interested in penetration testing, red-teaming, and digital forensics, so I have spent the past 3 years expanding my knowledge to transition from Web Development to Cyber Security.
      %p
        As a
        %strong Security Analyst
        and
        %strong Penetration Tester
        for
        %a.print{ href: "https://bsg.tech/", target: '_blank', rel: 'noopener noreferrer' }<
          %strong Berezha Security Group,
        my primary responsibilities involve conducting vulnerability assessments and penetration testing. In addition, I occasionally take part in bug-bounty programs.
  .logo-place
    .logo.responsive
      = partial('images/rrott-ruby-logo.svg').to_s

  %section.content.infosec.dark
    %h2.center Cybersecurity Enthusiast
    .flex
      .center.vw30
      .text-block.infosec-text.vw70
        %p
          I enjoy testing websites for security vulnerabilities (both white-box and black-box) independently, as a part of a team, or on the platforms like BugCrowd.
          During the last 3-4 years, I participated in dozens of
          %strong Web and Mobile Application Security Assessments,
          held
          %strong macOS and Windows Digital Forensics,
          provided
          %strong AWS, EKS,
          and
          %strong Kubernetes Security Audits.
        %p
          I was a member of the latest
          %a.print{ href: "https://nonamecon.org/", target: '_blank', rel: 'noopener noreferrer' }<
            %strong NoNameCon's
          core team - the Ukrainian community-built practical cybersecurity conference.
        %p
          I also used to design, deploy and support vulnerable web and mobile applications for CTF hacking games organized or supported by the
          %a.print{ href: "https://bsg.tech/", target: '_blank', rel: 'noopener noreferrer' }<
            %strong Berezha Security Group
          for:
        %ul
          %li.link
            %a{ href: "https://twitter.com/berezhasecurity/status/1182275892262907905/photo/1", target: '_blank', rel: 'noopener noreferrer' }<
              %strong BruCON 0x0B
            (2019)
            &mdash; (assisted with creating UI for a vulnerable websites)
          %li.link
            %a{ href: "https://nonamecon.org", target: '_blank', rel: 'noopener noreferrer' }<
              %strong NoNameCon
            (2018) &mdash; Practical Cybersecurity Conference (created admin interface, was one of the Game Masters)
          %li.link
            %a{ href: "https://uisgcon.org/en/about-uisgcon", target: '_blank', rel: 'noopener noreferrer' }<
              %strong UISGCon
            \#10, #11, #12 (2014-2016) &mdash; Ukrainian InfoSec conference held by Non Government Organization «Ukrainian Information Security Group»
          %li.link
            The Cybersecurity Olympiad
            %strong «HackIT-2015»
          %li.link
            International forum
            %strong «Cybersecurity: Ukraine and the world»

  %section.content.oss
    %h2.center Community Development
    .row
      .text-block
        %h3.oss-text.padding2 Contributing to open source projects:
        %ul
          %li.link
            I am a maintainer of
            %a.link{ href: "https://github.com/rrott/cosnole.alert", target: '_blank', rel: 'nofollow noopener noreferrer' }<
              rrott/cosnole.alert
            \- a simple JavaScript library for displaying alerts in the browser console.
          %li.link
            do contributions to OSS in terms of security, like:
            %a{ href: "https://bsg.tech/blog/cve-2022-25854-stored-xss-in-yaireo-tagify-npm-module/", target: '_blank' }<
              CVE-2022-25854
            \- stored XSS in the
            %a{ href: "https://github.com/yairEO/tagify/pull/989", target: '_blank' }<
              @yaireo/tagify
            npm module.

        %h3.oss-text.padding2 Volunteering:
        %ul
          %li.link
            Worked as a full-stack developer, creating and maintaining the website for the
            %a{ href: "https://2019.nonamecon.org/" }<
              %strong NoNameCon 2019.
          %li.link
            Did the same for the annual
            %a{ href: "https://owaspukraine.org/" }<
              %strong OWASP Ukraine 2019
            Cybersecurity Conference held by
            %a.print{ href: "https://www.owasp.org/index.php/Lviv", target: '_blank', rel: 'noopener noreferrer' }<
              %strong OWASP Lviv
            Chapter

        %h3.oss-text.padding2 Developing local community:
        %ul
          %li.link
            Held
            %a{ href: "/blog/security/ruby-for-pentesters.html" }<
              «Ruby for Pentesters»
            %a{ href: "https://www.youtube.com/watch?v=QtZy5wvAVAA" }<
              presentation
            on the
            %a.print{ href: "https://www.owasp.org/index.php/Kyiv", target: '_blank', rel: 'noopener noreferrer' }<
              %strong OWASP Kyiv
            Chapter Kick-off Meeting.
          %li.link
            Held
            %a{ href: "/https://www.youtube.com/watch?v=FV6s8tUJQSs" }<
              «Ruby Security Tips»
            presentation on the
            %a.print{ href: "https://www.owasp.org/index.php/Kyiv", target: '_blank', rel: 'noopener noreferrer' }<
              %strong OWASP Kyiv Summer 2019 Meetup
          %li.link
            Had a talk on the
            %a{ href: "https://www.facebook.com/RubyMeditation/posts/1122062657874189", target: '_blank', rel: 'noopener noreferrer' }<
              11th Ruby Meditation
            meetup.
          %li.link
            Partnered with 4 friends of mine to plan and execute several frontend Meetups and the very first
            %a{ href: "https://en.wikipedia.org/wiki/Hackathon", target: '_blank', rel: 'nofollow noopener noreferrer' }<
              Hackathon
            in Zaporizhzhya city &mdash;
            %a{ href: "http://www.vr-online.ru/blog/24hack-khakaton-v-zaporozhe-8785", target: '_blank',rel: 'noopener noreferrer' }<
              «24Hack»
        .recent-blogposts
          %h3.oss-text.padding2 Recent posts from my blog:
          %ul
            - blog.articles[0...3].each do |article|
              %li.link
                %a{ href: "#{article.url}", title: "#{article.title}" }
                  %time{ datetime: article.date}="#{article.date.strftime('%b %e %Y')}"
                  &mdash; #{article.title}
            %li.link
              %a{ href: "/blog/", title: "link to my blog" }
                Read more...

  %section.dark.content.dev-skills
    %h2.center Former Web Developer
    .stickers
      .logo.responsive.wrap.justify-center
        - ['react', 'redux', 'ruby', 'rails', 'svelte', 'html5', 'css', 'js'].each do |sticker|
          .sticker{ class: sticker }

      .text-block.vw70
        Throughout my 9-year tenure at IxWebhosting.com, a large Shared and Cloud Hosting company, I worked in various departments in different positions. During this time, I spent 5 years working in the 
        %strong Tech Support department
        and 4 years as a Ruby/Rails Developer in the IT department.
        %p
        There I gained a wealth of experience dealing with code written by other developers, focusing on
        %strong troubleshooting, debugging, and fixing code.
        Additionally, I gained extensive experience in detecting and resolving security flaws and bugs.
        %p
        Afterward, I spent another 5 years working as a Full-Stack Ruby Developer for various US and Europ companies. Meanwhile, I've designed and developed intentionally vulnerable applications for CTF hacking games, which provide a platform for security enthusiasts to practice and enhance their skills.
        %p
        My
        %a{ href: "/portfolio/" }<
          portfolio as a Full-Stack Web Developer
        provides a brief summary of project samples that I completed before transitioning into the Cybersecurity field.

= partial 'partials/contacts'
= partial 'partials/footer', locals: { title: nil }
