#preview
  .bold#close X
  .overlay
    #prev.icon-left-open
    .middle
      %img.large-img.pure-img-responsive#preview-image{alt: "Roman Rott's web projects' screenshots preview", src: "/images/rrott-ruby-logo.svg"}
      .preview-image-title  Roman Rott's web projects' screenshots preview
    #next.icon-right-open
#layout.pure-g
  %section.sidebar.pure-u-1.pure-u-md-1-4
    .header.portfolio-left-part
      %header.brand-title Portfolio page
      %h1.brand-tagline Projects accomplished in 2015 and active in 2016
      %nav.nav
        %ul.nav-list
          %li.nav-item
            %a.pure-button{href: "/", title: "Roman Rott's home page"} Home
          %li.nav-item
            %a.pure-button{href: "/blog/", title: "Roman Rott's blog"} Blog
      .portfolio-contacts
        %br
        = partial 'links'
        %br
        Open for remote job opportunities
      %br
      .portfolio-categories
        %nav.nav.tag-cloud
          %ul.nav-list
            - data.links.portfolio_sections.each do |section|
              %li
                %a{href: section.url, title: "#{section.name} projects by Roman Rott"} #{section.name}

  .content.pure-u-1.pure-u-md-3-4
    %ol.breadcrumb{itemscope: true, itemtype: "http://schema.org/BreadcrumbList"}
      %li{itemprop: "itemListElement", itemscope: true, itemtype: "http://schema.org/ListItem"}
        %a{href: "https://rrott.com", itemprop: "item", title: 'home page'}
          %span.breadcrumb_el{itemprop: "name"}Home
        %meta{itemprop: "position", content: "1"}
      %li{itemprop: "itemListElement", itemscope: true, itemtype: "http://schema.org/ListItem"}
        %a{href: "/portfolio/", itemprop: "item", title: "Rott's portfolio"}
          %span.breadcrumb_el{itemprop: "name"}Portfolio
        %meta{itemprop: "position", content: "2"}
      %li{itemprop: "itemListElement", itemscope: true, itemtype: "http://schema.org/ListItem"}
        %h2.breadcrumb_el{itemprop: "name"} List of projects
        %meta{itemprop: "position", content: "3"}
    %section.projects-table.pure-g
      - data.links.portfolio_list.each do |section|
        .pure-u-1.pure-u-md-1-3
          .project-table
            .project-table-header
              %a{href: section.url,  title: section.name}
                %h3 #{section.name}



    %footer.footer
      .pure-menu.pure-menu-horizontal
        = partial 'links'
      Projects accomplished in 2015 and active in 2016