= partial 'partials/portfolio/image_preview'
%section.portfolio.row
  = partial 'partials/portfolio/menu'
  %section.portfolio-content.column
    = partial 'partials/breadcrumbs', locals: { breadcrumbs: [{title: 'Portfolio', url: '/portfolio/'}, {title: type }] }

    - if message
      %section.text-block
        %p.post-description
          = message
    .text-block
      - all_projects.each do |sections|
        = partial 'partials/portfolio/section', locals: { projects: sections, multipart: multipart }

    = partial 'partials/footer', locals: { title: "#{ type } Projects accomplished in 2016 and active in 2017" }

