#preview
  .bold#close X
  .overlay
    #prev.icon-left-open
    .middle
      %img.large-img.pure-img-responsive#preview-image{ alt: "Roman Rott's web projects' screenshots preview", src: "/images/rrott-ruby-logo.svg" }
      .preview-image-title  Roman Rott's web projects' screenshots preview
      #spinner Loading...
    #next.icon-right-open
%section.portfolio.flex.row
  %aside.portfolio-menu.center.flex.row.wrap
    %div
      .brand-title Portfolio
      %h1.brand-tagline Projects accomplished in 2015 and 2016
      %nav.nav
        %ul.nav-list
          %li.nav-item
            %a{ href: "/", title: "Roman Rott's home page" } Home
          \/
          %li.nav-item
            %a{ href: "/blog/", title: "Roman Rott's blog" } Blog
      .responsive.logo-small
        = partial('images/rrott-ruby-logo.svg').to_s
      .portfolio-contacts
        = partial 'partials/links'
        Open for remote job opportunities
      .portfolio-categories
        %nav.nav.tag-cloud
          %ul.nav-list
            - data.links.portfolio_sections.each do |section|
              %li.links
                %a{ href: section.url, title: "#{ section.name} projects by Roman Rott" } #{ section.name}
            %li
              %a{ href: '/portfolio/', title: "All projects by Roman Rott" } All

    .share
      Share:
      .addthis_sharing_toolbox
  %section.portfolio-content.flex.column
    %ol.breadcrumb{ itemscope: true, itemtype: "http://schema.org/BreadcrumbList" }
      %li{ itemprop: "itemListElement", itemscope: true, itemtype: "http://schema.org/ListItem" }
        %a{ href: "https://rrott.com", itemprop: "item", title: 'home page'}
          %span.breadcrumb-el{ itemprop: "name" }Home
        %meta{ itemprop: "position", content: "1" }
      %li{ itemprop: "itemListElement", itemscope: true, itemtype: "http://schema.org/ListItem" }
        %a{ href: "/portfolio/", itemprop: "item", title: "Rott's portfolio" }
          %span.breadcrumb-el{ itemprop: "name" }Portfolio
        %meta{ itemprop: "position", content: "2" }
      %li{ itemprop: "itemListElement", itemscope: true, itemtype: "http://schema.org/ListItem" }
        %breadcrumb-el.upper{ itemprop: "name" } #{type}
        %meta{ itemprop: "position", content: "3" }
    - if message
      %section.text-block
        %p.post-description
          = message
    .text-block
      - all_projects.each do |sections|
        = partial 'partials/portfolio/section', locals: { projects: sections, multipart: multipart }
    %footer.footer.l-box.is-center
      = partial 'partials/links'
      %br
      #{ type } Projects accomplished in 2015 and 2016
      %br
      %a{ href: "/sitemap/", title: 'Sitemap of rrott.com' }
        SiteMap
