!!! 5

%html
  %head
    %title=site.not_found.title
    = partial 'partials/meta'

    %meta{ name: 'keywords',    content: site.not_found.keywords }
    %meta{ name: 'description', content: site.not_found.description }
    = stylesheet_link_tag 'index', property: 'stylesheet'
    = stylesheet_link_tag 'application', property: 'stylesheet'

  %body
    %main.center
      %section.dark
        %h1.error-code Roman Rott
        %h2.error-code resume and CV download page
      %section.resume
        .contact.flex.row.justify-around.wrap
          .flex.column
            %h3.link-title pdf:
            .link
              %a{ href: "/cv/Roman.Rott.Resume.2017.pdf", target: '_blank', rel: 'nofollow', title: "Roman's resume in pdf formt" }
                resume
              \/
              %a{ href: "/cv/Roman.Rott.CV.2017.pdf", target: '_blank', rel: 'nofollow', title: "Roman's CV in pdf formt" }
                CV
          .flex.column
            %h3.link-title odt:
            .link
              %a{ href: "/cv/Roman.Rott.Resume.2017.odt", target: '_blank', rel: 'nofollow', title: "Roman's resume in odt formt" }
                resume
              \/
              %a{ href: "/cv/Roman.Rott.CV.2017.odt", target: '_blank', rel: 'nofollow', title: "Roman's CV in odt formt" }
                CV
          .flex.column
            %h3.link-title docx:
            .link
              %a{ href: "/cv/Roman.Rott.Resume.2017.docx", target: '_blank', rel: 'nofollow', title: "Roman's resume in docx formt" }
                resume
              \/
              %a{ href: "/cv/Roman.Rott.CV.2017.docx", target: '_blank', rel: 'nofollow', title: "Roman's CV in docx formt" }
                CV
          .flex.column
            %h3.link-title google docs:
            .link
              %a{ href: "https://drive.google.com/open?id=1kE46bBi3kK8m6fO-bnBMEsLja-W2tmHPhHLe_MDhmPc", target: '_blank', rel: 'nofollow noopener noreferrer', title: "Roman's resume in google docs" }
                resume
              \/
              %a{ href: "https://drive.google.com/open?id=1HcFTcpI1RKlSVDF8WP0AhBAQn9n68VZaCjWIMOrdbRA", target: '_blank', rel: 'nofollow noopener noreferrer', title: "Roman's CV in google docs" }
                CV
      %hr
      %section.resume
        %a{ href: "/portfolio/", title: "web developer portfolio" }
          %h3 portfolio
        .worked-with
          %h3 worked with:
          .flex.row.justify-around.wrap
            - brands.each do |brand|
              %a{ href: "#{brand.url}", title: brand.title }
                %img.brand{ src: "#{brand.img}", title: brand.title, alt: "logo of #{brand.title}" }/
    %hr
    %section
      %h2.contacts-message.center
        Contact information
      .contacts-description.center.mr2.text-block
        If you are a business looking for a web presence or an employer who is eager to add a remote expertise feel free to get in touch with me right away!
      .contacts-box.wrap
        .contact.column
          %h4 contact me:
          .link-block
            .link-title linkedin:
            .link
              %a{ href: 'https://www.linkedin.com/in/rrott', target: '_blank', rel: 'noopener noreferrer' }
                Roman Rott
          .link-block
            .link-title mail:
            .link
              %a{ href: "mailto:roman@rrott.com", title: 'mail address' }
                roman@rrott.com
          .link-block
            .link-title mail:
            .link
              %a{ href: "mailto:roman.rott@owasp.org", title: 'owasp mail address' }
                roman.rott@owasp.org
          .link-block
            .link-title gpg:
            .link
              %a{ href: "https://keybase.io/rrott", target: '_blank', rel: 'noopener noreferrer', title: "rrott's public keys" }
                keybase.io/rrott
          %h4
            %a{ href: "/roman.rott.vcf", itemprop:"url", title: "Rott's Vcard" }
              download my VCard
        .contact
          %h4 social connections:
          .link-block
            .link-title blog:
            .link
              %a{ href: '/blog/' }
                rrott.com/blog
          .link-block
            .link-title  twitter:
            .link
              %a{ href: 'https://twitter.com/roman_rott', target: '_blank', rel: 'nofollow noopener noreferrer', title: "twitter @Roman_Rott" }
                roman_rott
          .link-block
            .link-title  GitHub:
            .link
              %a{ href: 'https://github.com/rrott', target: '_blank', title: 'rrott - github', rel: 'noopener noreferrer' }
                rrott
          .link-block
            .link-title  GitLab:
            .link
              %a{  href: 'https://gitlab.com/u/rrott', target: '_blank', title: 'rrott - gitlab', rel: 'noopener noreferrer' }
                rrott
          %h4
            %a{ href: "/feed.xml", itemprop:"url", title: "Rss feed of rrott.com" }
              subscribe to my blog
      %h3.contacts-message.center.padding2 Lets build something great!

      = partial 'partials/footer', locals: { title: nil }
