!!! 5

%html
  %head
    %title=data.site.sitemap.title
    = partial 'partials/meta'

    %meta{ name: 'keywords',    content: data.site.sitemap.keywords }
    %meta{ name: 'description', content: data.site.sitemap.description }
  %body
    %main
      %section.content.center
        %h1.center.content-subhead
          Sitemap of rrott.com website
        .center
          .img-responsive.logo
            = partial('images/rrott-ruby-logo.svg').to_s
        .ribbon
          .div
            %h3 Blog Posts
            - blog.articles.each do |page|
              %a{ href: page_url(page), title: "Blog's #{page_url(page)} page" }
                = page_url(page)
              %br

          .div
            %h3 Portfolio
            - sitemap.resources.select { |page| page.path =~ /portfolio.*\.html/ }.each do |page|
              %a{ href: page_url(page), title: "Portfolio #{page_url(page)} page" }
                = page_url(page)
              %br
          .div
            %h3 Other pages on website
            %a{ href: '/', title: 'Home Page' }
              Home Page
              %br
            %a{ href: '/sitemap/', title: 'Site Map' }
              SiteMap
              %br
            %a{ href: '/sitemap.xml', title: 'sitemap.xml' }
              sitemap.xml
              %br
            %a{ href: 'https://rrott.com/images/rrott-ruby-logo.svg', title: 'rrott logo' }
              Logo
              %br

              -# %aside.pure-g
              -#   %ul.pure-u-1.pure-u-md-1-2
              -#     %h3.is-center Recent posts from my blog:
              -#     - blog.articles[0...5].each do |article|
              -#       %article
              -#         %h3
              -#           %a{href: "#{article.url}", title: "#{article.title}" }
              -#           %time="#{article.date.strftime('%b %e %Y')}"
              -#         "#{article.summary}"
              -#         %a{href: "#{article.url}"} Read more
                -# %ul.pure-u-1.pure-u-md-1-2
                -#   %h3.is-center Pined posts from my blog:
                -#   - blog.articles[0...5].each do |article|
                -#     %article
                -#       %h3
                -#         %a{href: "#{article.url}", title: "#{article.title}" }
                -#         %time="#{article.date.strftime('%b %e %Y')}"
                -#       "#{article.summary}"
                -#       %a{href: "#{article.url}"} Read more

      %section#contacts.content
        = partial 'partials/contacts'

      %footer.footer.center
        = partial 'partials/links'
    = stylesheet_link_tag  'index', property: 'stylesheet'
    = stylesheet_link_tag  'application', property: 'stylesheet'