- project.about.each do |about|
  %p
    #{about}

- if project.role
  %div
    .bold.inline Role:
    .inline #{project.role}
%div
  .bold.inline Responsibilities:
  - if project.responsibilities
    - project.responsibilities.each do |responsibility|
      .inline #{responsibility}
- if project.languages
  %div
    .bold.inline Languages:
    .inline #{project.languages}
- if project.libs
  %div
    .bold.inline Frameworks/Libs:
    .inline #{project.libs}
- if project.testing
  %div
    .bold.inline Testing Frameworks:
    .inline #{project.testing}
- if project.other
  %div
    .bold.inline Other technologies:
    .inline #{project.other}
%div
  .bold.inline Status:
  .inline #{project.status.message}
%div
  - if project.status.urls
    - project.status.urls.each do |url|
      #{url.pre}
      %a.print{ href: url.link, target: '_blank', rel: nofollow(url.nofollow), title: url.description } #{url.short}
      %br
