%p.post-meta.text-block
  By
  %a.post-author.internal-link{'data-href': '/', title: "Projects created by #{project.by.name}", rel: 'nofollow'} #{project.by.name}
  using
  - project.tags.each do |tag|
    %a.post-category.internal-link{'data-href': "/portfolio/#{tag.downcase}/", title: "Projects created using #{tag}, like #{project.title}", rel: nofollow(index)} #{tag}